# Dependencies
node_modules
.pnp
.pnp.*

# Build outputs
.next
out
build
dist

# Cache
.cache
.parcel-cache

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Other
.DS_Store
*.pem
coverage

